# 1.List all the cities and the respective number of pending orders in 'India'?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DataCoSupplyChainDataset.csv',engine='python')

In [3]:
    df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [5]:
df.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519.0
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,2.127638,203.772096,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,0.0
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,1.453451,132.273077,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [6]:
updated_df =df.drop(columns =['Product Description'])

In [7]:
updated_df.info()
#removed the columns with null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 52 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Image                  180519 non-null  object
 47  Product Name                   180519 non-null  object
 48  Product Price                  180519 non-null  float64
 49  Product Status                 180519 non-null  int64
 50  shipping date (DateOrders)     180519 non-null  object
 51  Shipping Mode                  180519 non-null  object
dtypes: float64(14), int64(14), object(24)
memory usage: 71.6+ MB

In [8]:
updated_df.shape

(180519, 52)

In [9]:
duplicate_rows = updated_df[updated_df.duplicated()]
print('number of duplicate rows',duplicate_rows.shape)
#trying to find any duplicate rows if present

number of duplicate rows (0, 52)

No Duplicate rows were found

In [10]:
print(updated_df["Order Status"].unique())

['COMPLETE' 'PENDING' 'CLOSED' 'PENDING_PAYMENT' 'CANCELED' 'PROCESSING'
 'SUSPECTED_FRAUD' 'ON_HOLD' 'PAYMENT_REVIEW']

In [11]:
pending_dataframe = df[df['Order Status'] == 'PENDING']

In [12]:
pending_dataframe
#the dataframe where all the orders are pending

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
11,TRANSFER,5,2,45.689999,268.760010,Late delivery,1,73,Sporting Goods,Freeport,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 8:57,Second Class
12,TRANSFER,4,2,21.760000,262.200012,Late delivery,1,73,Sporting Goods,Salinas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 8:36,Second Class
21,TRANSFER,5,4,82.300003,304.809998,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 5:27,Standard Class
22,TRANSFER,4,2,22.370001,298.250000,Late delivery,1,73,Sporting Goods,Rancho Cordova,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 5:06,Second Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180414,TRANSFER,0,0,132.130005,363.980011,Shipping on time,0,45,Fishing,Washington,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/22/2016 12:51,Same Day
180458,TRANSFER,4,4,105.589996,319.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/23/2016 6:59,Standard Class
180485,TRANSFER,4,4,11.160000,371.980011,Shipping on time,0,45,Fishing,San Pablo,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/21/2016 14:42,Standard Class
180491,TRANSFER,3,4,33.599998,335.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 5:35,Standard Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class

In [28]:
pending_indian_dataframe = pending_dataframe[pending_dataframe['Order Country'] == 'India']
type(pending_dataframe['Order Country'] == 'India')

pandas.core.series.Series

In [14]:
pending_indian_dataframe
# this dataframe conrtains all the pending orders in India

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
21,TRANSFER,5,4,82.300003,304.809998,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 5:27,Standard Class
45,TRANSFER,6,4,86.169998,275.309998,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 21:02,Standard Class
46,TRANSFER,5,2,130.580002,272.029999,Late delivery,1,73,Sporting Goods,Rochester,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 20:41,Second Class
382,TRANSFER,3,4,144.210007,327.750000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 12:59,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180142,TRANSFER,4,4,68.040001,377.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,2/10/2016 18:10,Standard Class
180164,TRANSFER,2,1,123.190002,351.980011,Late delivery,1,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,2/7/2016 10:18,First Class
180248,TRANSFER,5,2,115.190002,383.980011,Late delivery,1,45,Fishing,Las Vegas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,2/4/2016 18:22,Second Class
180331,TRANSFER,3,4,-103.970001,327.980011,Advance shipping,0,45,Fishing,East Brunswick,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/29/2016 1:33,Standard Class
180405,TRANSFER,2,4,81.000000,299.989990,Advance shipping,0,45,Fishing,Phoenix,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/24/2016 13:07,Standard Class

In [15]:
print(pending_indian_dataframe["Order City"].unique())

['Bikaner' 'Jabalpur' 'Bangalore' 'Pune' 'Jaipur' 'Ranchi' 'Durg' 'Patna'
 'Faridabad' 'Fatehpur' 'Kota' 'Guwahati' 'Rohtak' 'Mumbai' 'Kulti'
 'Imphal' 'Gorakhpur' 'Lucknow' 'Hubli' 'Nagpur' 'Ajmer' 'Amravati'
 'Raipur' 'Thane' 'Dewas' 'Tirunelveli' 'Darbhanga' 'Aligarh' 'Saharanpur'
 'Vadodara' 'Delhi' 'Bhopal' 'Jodhpur' 'Kanpur' 'Moradabad' 'Belgaum'
 'Hyderabad' 'Nellore' 'Korba' 'Jamnagar' 'Puducherry' 'Srinagar' 'Satna'
 'Muzaffarpur' 'Pimpri' 'Bokaro' 'Ludhiana' 'Jhansi' 'Amritsar' 'Malegaon'
 'Nasik' 'Coimbatore' 'Agra' 'Durgapur' 'Chennai' 'Gulbarga' 'Brahmapur'
 'Thiruvananthapuram' 'Bhavnagar' 'Ujjain' 'Surat' 'Ganganagar'
 'Visakhapatnam' 'Solapur' 'Salem' 'Meerut' 'Patiala' 'Rajkot' 'Warangal'
 'Kollam' 'Hisar' 'Mangalore' 'Aurangabad' 'Bhubaneswar' 'Bilaspur'
 'Kamarhati' 'Ulhasnagar' 'Shimoga' 'Parbhani' 'Mysore' 'Bhiwandi'
 'Bellary' 'Anantapur' 'Bihar Sharif' 'Ghaziabad' 'Madurai' 'Ichalkaranji'
 'Tiruppur' 'Kolhapur' 'Chandigarh' 'Jammu']

In [16]:
a = pending_indian_dataframe[pending_indian_dataframe['Order City'].value_counts()]

In [68]:
type(a)
a

Kanpur        25
Pune          24
Bangalore     24
Lucknow       21
Mumbai        18
              ..
Patiala        1
Aurangabad     1
Ghaziabad      1
Hubli          1
Jamnagar       1
Name: Order City, Length: 91, dtype: int64

In [67]:
print(a.head(50))
print(a.tail(50))
#all the cities in India with the number of pending orders

Kanpur           25
Pune             24
Bangalore        24
Lucknow          21
Mumbai           18
Delhi            18
Hyderabad        17
Ajmer            17
Visakhapatnam    15
Korba            14
Nagpur           13
Chennai          12
Gorakhpur        12
Jabalpur         11
Durgapur         11
Faridabad        10
Darbhanga         9
Jaipur            9
Raipur            8
Guwahati          8
Kulti             8
Belgaum           8
Surat             7
Salem             7
Patna             7
Kota              7
Agra              7
Jodhpur           7
Bellary           6
Bhubaneswar       6
Nasik             6
Amritsar          6
Dewas             6
Ujjain            5
Imphal            5
Coimbatore        5
Moradabad         5
Tirunelveli       5
Ranchi            5
Bokaro            5
Ulhasnagar        5
Rohtak            5
Satna             5
Jhansi            4
Durg              4
Mysore            4
Malegaon          4
Srinagar          4
Aligarh           4
Saharanpur        4
Name: Order City, dtype: int64
Rohtak                5
Satna                 5
Jhansi                4
Durg                  4
Mysore                4
Malegaon              4
Srinagar              4
Aligarh               4
Saharanpur            4
Shimoga               3
Parbhani              3
Puducherry            3
Kolhapur              3
Bhavnagar             3
Bhiwandi              3
Thiruvananthapuram    3
Kollam                3
Anantapur             3
Solapur               3
Jammu                 3
Amravati              3
Muzaffarpur           3
Nellore               3
Kamarhati             2
Meerut                2
Mangalore             2
Bihar Sharif          2
Rajkot                2
Ludhiana              2
Vadodara              1
Hisar                 1
Madurai               1
Warangal              1
Thane                 1
Pimpri                1
Gulbarga              1
Fatehpur              1
Bilaspur              1
Tiruppur              1
Bhopal                1
Ichalkaranji          1
Ganganagar            1
Bikaner               1
Brahmapur             1
Chandigarh            1
Patiala               1
Aurangabad            1
Ghaziabad             1
Hubli                 1
Jamnagar              1
Name: Order City, dtype: int64

# Ans. The above given cities of India are having pending orders(numbers given)

# 2. In this part we will be trying to find the Country with the most Suspected Fraud.

In [21]:
fraud_dataframe = df[df['Order Status'] == 'SUSPECTED_FRAUD']

In [23]:
fraud_dataframe
#this dataframe contains all the orders having Suspected_Fraud as its status.

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
10,TRANSFER,6,2,130.580002,272.029999,Shipping canceled,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/19/2018 9:18,Second Class
24,TRANSFER,2,2,90.279999,288.420013,Shipping canceled,0,73,Sporting Goods,Billings,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 4:24,Second Class
183,TRANSFER,5,4,28.850000,128.220001,Shipping canceled,0,13,Electronics,Freeport,...,77041.0,278,13,NaN,http://images.acmesports.sports/Under+Armour+M...,Under Armour Men's Compression EV SL Slide,44.990002,0,5/13/2016 17:42,Standard Class
184,TRANSFER,5,4,133.910004,278.970001,Shipping canceled,0,9,Cardio Equipment,Fort Washington,...,85234.0,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,4/7/2016 19:51,Standard Class
185,TRANSFER,6,4,79.160004,272.970001,Shipping canceled,0,9,Cardio Equipment,Bakersfield,...,95123.0,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,8/20/2016 2:51,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180274,TRANSFER,5,2,163.190002,339.980011,Shipping canceled,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,2/3/2016 3:49,Second Class
180309,TRANSFER,2,1,114.830002,347.980011,Shipping canceled,0,45,Fishing,Modesto,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/28/2016 21:52,First Class
180352,TRANSFER,4,4,90.000000,399.980011,Shipping canceled,0,45,Fishing,Albuquerque,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/29/2016 3:08,Standard Class
180406,TRANSFER,6,4,-333.179993,399.980011,Shipping canceled,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/28/2016 12:46,Standard Class
180490,TRANSFER,4,4,-59.840000,339.980011,Shipping canceled,0,45,Fishing,Madera,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/21/2016 5:56,Standard Class

In [25]:
fraud_dataframe['Order Country'].value_counts()

Estados Unidos    573
Francia           362
México            317
Alemania          227
Australia         197
                 ...
Bangladés           1
Somalia             1
Benín               1
Uzbekistán          1
Georgia             1
Name: Order Country, Length: 102, dtype: int64

# Ans. From the above cell's output we can see that "Estados Unidos" has the most suspected fraud in order status than other countries.

# 3. Which product(s) has/have the maximum discount?

In [26]:
print(updated_df["Product Name"].unique())

['Smart watch ' 'Perfect Fitness Perfect Rip Deck'
 "Under Armour Girls' Toddler Spine Surge Runni"
 "Nike Men's Dri-FIT Victory Golf Polo"
 "Under Armour Men's Compression EV SL Slide"
 "Under Armour Women's Micro G Skulpt Running S"
 "Nike Men's Free 5.0+ Running Shoe"
 "Glove It Women's Mod Oval 3-Zip Carry All Gol"
 'Bridgestone e6 Straight Distance NFL San Dieg'
 "Columbia Men's PFG Anchor Tough T-Shirt" 'Titleist Pro V1x Golf Balls'
 'Bridgestone e6 Straight Distance NFL Tennesse'
 'Polar FT4 Heart Rate Monitor' 'ENO Atlas Hammock Straps'
 "adidas Men's F10 Messi TRX FG Soccer Cleat"
 "Brooks Women's Ghost 6 Running Shoe"
 "Nike Men's CJ Elite 2 TD Football Cleat"
 "Diamondback Women's Serene Classic Comfort Bi"
 'Industrial consumer electronics' 'Web Camera' 'Dell Laptop'
 'SOLE E25 Elliptical' 'Elevation Training Mask 2.0'
 "adidas Men's Germany Black Crest Away Tee"
 'Team Golf Pittsburgh Steelers Putter Grip'
 'Glove It Urban Brick Golf Towel' 'Team Golf Texas Longhorns Putter Grip'
 "Nike Men's Deutschland Weltmeister Winners Bl"
 'Team Golf St. Louis Cardinals Putter Grip' 'Summer dresses'
 'Porcelain crafts' "Men's gala suit"
 'Team Golf Tennessee Volunteers Putter Grip'
 'Team Golf San Francisco Giants Putter Grip'
 'Glove It Imperial Golf Towel' "Nike Men's Comfort 2 Slide"
 'Under Armour Hustle Storm Medium Duffle Bag'
 "Under Armour Kids' Mercenary Slide"
 "Under Armour Women's Ignite PIP VI Slide"
 "Nike Men's Free TR 5.0 TB Training Shoe"
 'adidas Youth Germany Black/Red Away Match Soc'
 "TYR Boys' Team Digi Jammer" "Glove It Women's Imperial Golf Glove"
 'Titleist Pro V1x High Numbers Golf Balls'
 'Bridgestone e6 Straight Distance NFL Carolina'
 "Under Armour Women's Ignite Slide"
 'Titleist Pro V1x High Numbers Personalized Go'
 'GoPro HERO3+ Black Edition Camera' 'Total Gym 1400' "Children's heaters"
 'Team Golf New England Patriots Putter Grip'
 "adidas Kids' F5 Messi FG Soccer Cleat" "Nike Women's Tempo Shorts"
 "Glove It Women's Mod Oval Golf Glove"
 'Titleist Pro V1 High Numbers Personalized Gol'
 "Under Armour Men's Tech II T-Shirt" 'Baby sweater'
 'Mio ALPHA Heart Rate Monitor/Sport Watch'
 'Field & Stream Sportsman 16 Gun Fire Safe' 'Sports Books '
 "Diamondback Boys' Insight 24 Performance Hybr"
 'Polar Loop Activity Tracker' 'Garmin Forerunner 910XT GPS Watch' 'DVDs '
 'CDs of rock' "Nike Kids' Grade School KD VI Basketball Shoe"
 "Nike Women's Free 5.0 TR FIT PRT 4 Training S"
 "Hirzl Women's Soffft Flex Golf Glove"
 "The North Face Women's Recon Backpack" 'Lawn mower'
 'Nike Dri-FIT Crew Sock 6 Pack' "Nike Women's Legend V-Neck T-Shirt"
 'Garmin Approach S4 Golf GPS Watch' 'insta-bed Neverflat Air Mattress'
 "Nike Men's Kobe IX Elite Low Basketball Shoe" 'Adult dog supplies'
 'First aid kit' 'Garmin Approach S3 Golf GPS Watch' 'Rock music'
 'Fighting video games' 'Fitbit The One Wireless Activity & Sleep Trac'
 'Stiga Master Series ST3100 Competition Indoor'
 "Diamondback Girls' Clarity 24 Hybrid Bike 201"
 'adidas Brazuca 2014 Official Match Ball' 'GolfBuddy VT3 GPS Watch'
 'Bushnell Pro X7 Jolt Slope Rangefinder'
 'Yakima DoubleDown Ace Hitch Mount 4-Bike Rack'
 "Nike Men's Fingertrap Max Training Shoe"
 'Bowflex SelectTech 1090 Dumbbells' 'SOLE E35 Elliptical'
 "Hirzl Women's Hybrid Golf Glove" "Hirzl Men's Hybrid Golf Glove"
 'TaylorMade 2014 Purelite Stand Bag' 'Bag Boy Beverage Holder'
 'Bag Boy M330 Push Cart' 'Clicgear 8.0 Shoe Brush'
 'Titleist Small Wheeled Travel Cover' 'Clicgear Rovic Cooler Bag'
 'Titleist Club Glove Travel Cover' 'Ogio Race Golf Shoes'
 "LIJA Women's Argyle Golf Polo"
 "LIJA Women's Eyelet Sleeveless Golf Polo"
 "LIJA Women's Button Golf Dress"
 "LIJA Women's Mid-Length Panel Golf Shorts"
 "TaylorMade Women's RBZ SL Rescue"
 "Cleveland Golf Women's 588 RTX CB Satin Chrom"
 "Top Flite Women's 2014 XL Hybrid" 'MDGolf Pittsburgh Penguins Putter'
 'TaylorMade White Smoke IN-12 Putter'
 'Cleveland Golf Collegiate My Custom Wedge 588'
 "Merrell Men's All Out Flash Trail Running Sho"
 "Merrell Women's Grassbow Sport Waterproof Hik"
 "Merrell Women's Siren Mid Waterproof Hiking B"
 "Merrell Women's Grassbow Sport Hiking Shoe" 'Toys '
 'Pelican Sunstream 100 Kayak' 'Pelican Maverick 100X Kayak'
 "O'Brien Men's Neoprene Life Vest"]

In [27]:
print(updated_df["Order Item Discount"].unique())

[ 13.10999966  16.38999939  18.03000069 ... 140.          33.65999985
  61.18999863]

In [31]:
discount_column = updated_df["Order Item Discount"]
max_value = discount_column.max()
print(max_value)

500.0

In [32]:
max_discount_dataframe = updated_df[updated_df['Order Item Discount'] == 500.0]

In [33]:
max_discount_dataframe

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
12606,DEBIT,4,4,45.0,1499.98999,Shipping on time,0,10,Strength Training,Caguas,...,COMPLETE,NaN,208,10,http://images.acmesports.sports/SOLE+E35+Ellip...,SOLE E35 Elliptical,1999.98999,0,10/3/2017 21:22,Standard Class

In [35]:
print(updated_df.loc[updated_df['Order Item Discount'] == 500.0])

        Type  Days for shipping (real)  Days for shipment (scheduled)  \
12606  DEBIT                         4                              4

       Benefit per order  Sales per customer   Delivery Status  \
12606               45.0          1499.98999  Shipping on time

       Late_delivery_risk  Category Id      Category Name Customer City  ...  \
12606                   0           10  Strength Training        Caguas  ...

      Order Status Order Zipcode Product Card Id  Product Category Id  \
12606     COMPLETE           NaN             208                   10

                                           Product Image         Product Name  \
12606  http://images.acmesports.sports/SOLE+E35+Ellip...  SOLE E35 Elliptical

      Product Price Product Status shipping date (DateOrders)   Shipping Mode
12606    1999.98999              0            10/3/2017 21:22  Standard Class

[1 rows x 52 columns]

In [55]:
print(max_discount_dataframe['Product Name'].head())
#this gives us the name of product(s) which has/have the maximum discount

12606    SOLE E35 Elliptical
Name: Product Name, dtype: object

# Ans. The product with name SOLE E35 Elliptical has maximum discount.

# 5. In this part we will find the How many successfully processed orders have days for shipping real (Real) > Days for shipment (Scheduled)?

In [56]:
Completed_order_dataframe = updated_df[updated_df['Order Status'] == 'COMPLETE']

In [57]:
Completed_order_dataframe

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
6,DEBIT,2,1,95.180000,288.420013,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 10:42,First Class
13,DEBIT,2,1,24.580000,245.809998,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 8:15,First Class
15,DEBIT,2,1,-259.579987,324.470001,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 7:33,First Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180500,DEBIT,3,4,138.229996,383.980011,Advance shipping,0,45,Fishing,Saint Paul,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 15:35,Standard Class
180505,DEBIT,2,4,112.669998,359.980011,Advance shipping,0,45,Fishing,Highland,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 13:28,Standard Class
180508,DEBIT,4,2,85.000000,339.980011,Late delivery,1,45,Fishing,Waipahu,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 7:10,Second Class
180512,DEBIT,6,4,86.400002,319.980011,Late delivery,1,45,Fishing,Caguas,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/22/2016 6:07,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class

In [61]:
Schedules = Completed_order_dataframe[Completed_order_dataframe["Days for shipping (real)"] > Completed_order_dataframe["Days for shipment (scheduled)"]]

In [65]:
Schedules
#this gives us a datframe with the days for shipping real (Real) > Days for shipment (Scheduled) condition.

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
6,DEBIT,2,1,95.180000,288.420013,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 10:42,First Class
13,DEBIT,2,1,24.580000,245.809998,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 8:15,First Class
15,DEBIT,2,1,-259.579987,324.470001,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 7:33,First Class
18,DEBIT,2,1,102.260002,314.640015,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 6:30,First Class
25,DEBIT,6,2,131.169998,285.140015,Late delivery,1,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/19/2018 4:03,Second Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180479,DEBIT,6,4,133.839996,395.980011,Late delivery,1,45,Fishing,Las Vegas,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/23/2016 22:24,Standard Class
180499,DEBIT,4,2,-258.779999,387.980011,Late delivery,1,45,Fishing,Caguas,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 17:41,Second Class
180508,DEBIT,4,2,85.000000,339.980011,Late delivery,1,45,Fishing,Waipahu,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 7:10,Second Class
180512,DEBIT,6,4,86.400002,319.980011,Late delivery,1,45,Fishing,Caguas,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/22/2016 6:07,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,COMPLETE,NaN,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class

In [64]:
Schedules.shape

(34199, 52)

# ans. From the above output we see that there are 34199 orders that have days for shipping real (Real) > Days for shipment (Scheduled).

# 4. Which year had the minimum sales for "Nike" products?

In [95]:
nike_dataframe = updated_df.loc[updated_df['Product Name'].str.contains("nike", case=False)]

In [96]:
nike_dataframe

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
50,PAYMENT,6,2,33.599998,96.000000,Late delivery,1,24,Women's Apparel,Caguas,...,PENDING_PAYMENT,NaN,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,4/5/2016 4:37,Second Class
52,PAYMENT,3,2,9.100000,91.000000,Late delivery,1,24,Women's Apparel,Caguas,...,PENDING_PAYMENT,NaN,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,12/1/2016 1:18,Second Class
53,PAYMENT,5,2,-21.750000,87.000000,Late delivery,1,24,Women's Apparel,Caguas,...,PENDING_PAYMENT,NaN,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,1/5/2017 15:47,Second Class
54,PAYMENT,6,2,6.150000,82.000000,Late delivery,1,24,Women's Apparel,Caguas,...,PENDING_PAYMENT,NaN,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,10/31/2015 6:24,Second Class
59,PAYMENT,2,2,-184.779999,263.970001,Shipping on time,0,9,Cardio Equipment,Caguas,...,PENDING_PAYMENT,NaN,191,9,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,10/6/2016 22:55,Second Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179604,TRANSFER,5,4,-33.750000,449.959992,Late delivery,1,9,Cardio Equipment,Caguas,...,PENDING,NaN,191,9,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,4/5/2017 1:39,Standard Class
179605,TRANSFER,2,4,141.360001,434.959992,Advance shipping,0,9,Cardio Equipment,Caguas,...,PENDING,NaN,191,9,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,2/12/2017 6:27,Standard Class
179606,TRANSFER,3,4,188.979996,419.959992,Advance shipping,0,9,Cardio Equipment,Caguas,...,PENDING,NaN,191,9,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,6/16/2017 2:57,Standard Class
179607,TRANSFER,5,4,111.989998,399.959992,Late delivery,1,9,Cardio Equipment,Caguas,...,PENDING,NaN,191,9,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,4/19/2015 5:59,Standard Class
179608,TRANSFER,4,4,167.979996,399.959992,Shipping on time,0,9,Cardio Equipment,Caguas,...,PENDING,NaN,191,9,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,1/22/2015 11:21,Standard Class

In [102]:
nike2015_dataframe = updated_df.loc[updated_df['shipping date (DateOrders)'].str.contains("2015", case=False)]
sales_per_cust_column = nike2015_dataframe["Order Item Discount"]
sum_value2015 = sales_per_cust_column.sum()

In [103]:
sum_value2015
#the sales in year 2015

1238527.2911785059

In [104]:
nike2016_dataframe = updated_df.loc[updated_df['shipping date (DateOrders)'].str.contains("2016", case=False)]
sales_per_cust_column = nike2016_dataframe["Order Item Discount"]
sum_value2016 = sales_per_cust_column.sum()

In [105]:
sum_value2016
#the sales in year 2016

1247833.721141224

In [106]:
nike2017_dataframe = updated_df.loc[updated_df['shipping date (DateOrders)'].str.contains("2017", case=False)]
sales_per_cust_column = nike2017_dataframe["Order Item Discount"]
sum_value2017 = sales_per_cust_column.sum()

In [107]:
sum_value2017
#the sales in year 2017

1202255.410429992

In [108]:
nike2018_dataframe = updated_df.loc[updated_df['shipping date (DateOrders)'].str.contains("2018", case=False)]
sales_per_cust_column = nike2018_dataframe["Order Item Discount"]
sum_value2018 = sales_per_cust_column.sum()

In [109]:
sum_value2018
#the sales in year 2018

41761.979842847

In [110]:
#as we can see from the above values nike had minimum sales in 2018

# Nike products had minimum sales in the year 2018